<div class="room-details">
  <h1><b><p>{{ getRoomName() }}</p></b> </h1>
  <p>[ Room ID: {{ roomId }} ]</p>
  <p>People: 2</p>

 

  <a href="http://192.168.43.119/" >
    <img src="https://static.vecteezy.com/system/resources/thumbnails/012/002/067/small_2x/air-conditioner-icon-logo-design-vector.jpg" alt="Temperature" class="img">
  </a>
  <p> </p>
  <a href="http://192.168.43.119/" >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2iHLEF5zL59P58ouZryrt2eBafB-nJmaQqta5NxeTPvlcg7t_aN7raQzWaAiNm5d9A5U&usqp=CAU" alt="fan" class="img">
  </a>
  <p></p>
  <a href="http://192.168.43.119/" >
    <img src="https://static.vecteezy.com/system/resources/thumbnails/007/882/689/small/bulb-logo-vector.jpg" alt="bulb" class="img">
  </a>
  <p>   </p>

  <a href="http://127.0.0.1:5500/eighth.html" >
    <button class="vc">Voice Control</button>
  </a>
  <p>  </p>

  <button (click)="goBackToMainPage()" class="Logout">Logout</button>
</div>






